:root {
  --circleSize: 300px;
  --title-color: #0b96b2;
  --textColor: #021216;
  
  --icons-color: #30bc9a;
  --icons-color-two: #217277;
  --icons-color-alt: white;

  --icons-bg-gradient-one: var(--icons-color);
  --icons-bg-gradient-two:  var(--icons-color-two);
  --item-dot-constant-size: 4.5;
  --content-size-transform: .85;
}

.row {
  flex-wrap: wrap;
}
.col-12 {
  min-width: calc(var(--circleSize) * 1.15);
}

.circle-slider-wrapper{
  width: 100%;
  height: 100%;
}
.circle-slider-wrapper.dark{
  --textDark: white;
}
.holderCircle {
  width: var(--circleSize);
  height: var(--circleSize);
  border-radius: 100%;
  margin: 60px auto;
  position: relative;
}

.dotCircle {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
.dotCircle .itemDot {
  position: absolute;
  display: block;
  width: calc(var(--circleSize) / var(--item-dot-constant-size));
  height: calc(var(--circleSize) / var(--item-dot-constant-size));
  background: var(--icons-color-alt);
  color: var(--icons-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
  cursor: pointer;
  border: 2px solid #e6e6e6;
}

.dotCircle .itemDot img{
  height: calc(var(--circleSize) / (var(--item-dot-constant-size) * 1.1));
  width: calc(var(--circleSize) / (var(--item-dot-constant-size) * 1.1));
  border-radius: 50%;
  object-fit: contain;
  object-position: center;
}
.dotCircle .itemDot .forActive {
  width: calc(var(--circleSize) / var(--item-dot-constant-size));
  height: calc(var(--circleSize) / var(--item-dot-constant-size));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.dotCircle .itemDot.active .forActive {
  display: block;
}
.round {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(var(--circleSize));
  height: calc(var(--circleSize));
  border: 2px dotted var(--icons-bg-gradient-two);
  border-radius: 100%;
  animation: rotation 100s infinite linear;
  -webkit-animation: rotation 100s infinite linear;
}
.round.round-solid{
  border-style: solid;
}
.round.round-dashed{
  border-style: dashed;
}
.dotCircle.icon-mode .itemDot:hover,
.dotCircle.icon-mode .itemDot.active {
  color: var(--icons-color-alt);
  transition: 0.5s;
  background: var(--icons-bg-gradient-one); /* Old browsers */
  background: -moz-linear-gradient(
    left,
    var(--icons-bg-gradient-one) 0%,
    var(--icons-bg-gradient-two) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    var(--icons-bg-gradient-one) 0%,
    var(--icons-bg-gradient-two) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    var(--icons-bg-gradient-one) 0%,
    var(--icons-bg-gradient-two) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--icons-bg-gradient-one), endColorstr=var(--icons-bg-gradient-two), GradientType=1); /* IE6-9 */
  border: 2px solid #ffffff;
  /* -webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.13); */
  /* -moz-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.13); */
  /* box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.13); */
}
.contentCircle {
  width: 250px;
  border-radius: 100%;
  color: var(--textColor);
  position: relative;
  top: calc(var(--circleSize) / 3.3);
  left: 50%;
  transform: translate(-50%, -50%);
}
.contentCircle .CirItem {
  border-radius: 100%;
  color: var(--textColor);
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s;
  font-size: 0.8em;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  margin: auto;
}
.CirItem.active {
  z-index: 1;
  opacity: 1;
  transform: scale(var(--content-size-transform));
  transition: 0.5s;
}

@media only screen and (min-width: 300px) and (max-width: 599px) {
  .holderCircle::after {
    width: 100%;
    height: 100%;
  }
  .dotCircle {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}
@media only screen and (max-width: 500px) {
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
}
.title-box .title {
  font-size: 2em;
  letter-spacing: 2px;
  position: relative;
  z-index: -1;
  margin-bottom: 1.3rem;
  font-weight: 800;
  color:var(--title-color);
}

.title-box p,
.title-box p.content {
  font-size: 1.2em;
  padding-left: .4rem;
  padding-right: .4rem;
}
